<h3>Create an account!</h3>

<form action="/signup" class="search-form" method="POST">
	<label>

		<input type="text" class="search-input" placeholder="username" name="username" />
	</label>
	<label>

		<input type="password" class="search-input" placeholder="password" name="password" />
	</label>

	<button type="submit" class="main-button">Submit</button>
</form>

<p class="error-message">{{errorMessage}}</p>