<h1 id="main-title">{{title}}</h1>
<p id="main-par"> Search any kind of products and add them to your wish list. You can easily share them with whoever you want!</p>
<form action="/search-products" method="GET">
	<button type="submit" class="main-button">
		SEARCH YOUR PRODUCTS
	</button>

</form>