body {
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main-title {
	color: 15px;
	font-size: 120px;
	font-family: "Caveat", cursive;
}

#navbar a {
	color: black;
}

.up-in-out > a {
	color: black;
}
#navbar {
	background-color: rgb(255, 212, 91);
	border-bottom: 0.5px 1px black;
}

.main-content {
	width: 100%;
	height: 100%;

	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#main-par {
	text-align: center;
	padding-top: 20px;
	width: 40rem;
}

.main-button {
	margin-top: 20px;
	background: transparent;
	border: solid black 1px;
	border-radius: 8px;
	height: 40px;
}

.main-button:hover {
	background-color: black;
	color: white;
}

.error-message {
	color: red;
}

#home-nav {
	font-family: "Allison", cursive;
}

.btn-primary {
	width: 10rem;
	font-size: 10px;
}

.card-img-top {
	width: 75%;
	height: 50%;
}

.card-title {
	font-size: 12px;
	text-align: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 40px 40px 38px 40px;
}

.card {
	height: 25rem;
	align-items: center;
	border: none;
	margin: 4px;
}
.card-price {
	font-size: 14px;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.up-in-out {
	display: flex;
	margin-left: auto;
}

footer {
	background-color: #8c8383;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	color: white;
	display: flex;
	align-items: center;
	font-size: 10px;
	padding: 10px;
}

.detail-img {
	max-width: 16%;
	max-height: 70%;
}

.detail-img-cont {
	display: flex;
	justify-content: space-evenly;

	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	margin: 10px;
}

.carousel-inner {
	width: 25vw;
	height: 49vh;
}

.caroulse-img {
	width: 100px;
	height: 20px;
}

#item-detail-title {
	font-size: 20px;
}

#item-title {
	font-size: 25px;
}

.boton-carousel {
	color: black;
}

.search-form {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.search-input {
	padding: 14px;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
}

.nav-link:hover {
	color: rgb(46, 91, 240);
}

.categories-container {
	width: 100%;
	padding: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
}

#next-previous {
	padding-bottom: 4%;
}

#next-previous a {
	text-decoration: none;
	font-size: 75px;

	border-radius: 10px;
	padding: 10px;
	margin: 12px;
}

#share {
	text-decoration: none;
	font-size: 25px;
	color: #089835;
	border: 2px solid;
	border-radius: 10px;
	padding: 14px;
}

#share:hover {
	color: white;
	background-color: #089835;
}

#share-div {
	padding-bottom: 5%;
}
