<h3>Search your product</h3>

<form action="search-products" method="POST">
	<label for="product-description">Enter your search: (i.e: celular samsung galaxy)</label>
	<input type="text" name="product" />
	<button type="submit" class="main-button">Let's Go!</button>
</form>