<form class="search-form" action="search-products" method="POST">
	<h3>Search your product</h3>

	<input class="search-input" type="text" name="product" placeholder="i.e camiseta barcelona" />
	<button type="submit" class="main-button">Let's Go!</button>
</form>